<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Aprendendo Asp.Net</title>
</head>
<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center; color:green;">Comentários</h1>
    <hr />
    <form  style="justify-content: center; align-items: center; display:flex; margin-top: 20px; font-size: 20px;">
        <fieldset style="width: 50px; display: inline; align-items: center;  justify-content: center;">
            <div>
                <label for="nome">
                    Nome Completo <br />
                    <input type="text" name="nome" id="nome" placeholder="Ex: João da Silva" style="width: 200px;" />
                </label>
            </div>
            <div>
                <label for="comentarios">Comentários <br />
                    <textarea name="comentarios" id="comentarios" rows="10"  style="width: 200px;"></textarea>
                </label>
            </div>
            <div style="text-align: center;" >
                <input type="submit" value="Gravar" style="width: 200px"/>
            </div>
        </fieldset>
        
    </form>
</body>
</html>
